/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { color: #2b2b2b; font-size: 13px; line-height: 1.4; font-weight: 400; font-family: "Roboto", sans-serif; }

.out { min-width: 1000px; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -115px; }
.out.out_catalog { overflow: hidden; }
.out.out_black { background: url("../img/bg-grey.png") repeat; }

.container { margin: 0 auto; min-width: 1000px; max-width: 1200px; *zoom: 1; }
.container:after { content: " "; display: table; clear: both; }
.container.container_pt { padding-top: 40px; }
.container.container_rel { height: 0; position: relative; }
.container.container_rel2 { position: relative; }

.header { color: white; font-weight: 300; background: url("../img/bg-top.png") no-repeat 50% 0; background-size: cover; }
.header.header_hid { overflow: hidden; }
.header .header__wrap { margin-bottom: 440px; background: #313131; background: rgba(49, 49, 49, 0.8); }
.header .header__wrap, .header .header__bottom { padding: 20px 0; }
.header .header__bottom { background: #303030; background: rgba(48, 48, 48, 0.5); }
.header .header__nav, .header .advantage { padding-left: 322px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header .header__block { position: absolute; top: 0; left: 0; z-index: 2; }
.header .header__login .btn_red { padding: 0 15px 0 18px; width: auto; }

.topic { left: 0; top: 0; width: 100%; height: 58px; line-height: 53px; z-index: 300; background: #313131; }
.topic .is-open .login { display: block; }
.topic .is-open .topic__wrap { display: none; }
.topic .btn, .topic li { vertical-align: middle; }
.topic .topic__logo, .topic .topic__nav { float: left; }
.topic .topic__logo { margin-top: 16px; }
.topic .topic__right { float: right; }
.topic .btn { margin-left: 20px; height: 40px; width: 148px; font-size: 13px; line-height: 39px; }
.topic.topic_mod { position: fixed; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
.topic.topic_mod.is-active { visibility: visible; opacity: 1; }
@media (max-width: 1150px) { .topic .topic__nav li { margin-left: 14px; }
  .topic .btn { margin-left: 12px; } }

.login { position: relative; float: left; margin-left: 182px; padding-right: 170px; display: none; }
.login .btn_close { position: absolute; top: 50%; right: 0; margin-top: -13px; }
.login .input, .login .input__row { display: inline-block; }
.login .input { height: 40px; vertical-align: middle; }
.login .input__row { margin-left: 22px; width: 148px; vertical-align: top; }

.input .input__row { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input input { padding: 0 10px 0 18px; height: 100%; width: 100%; color: #c2c2c2; line-height: 36px; border: 2px solid #494949; background: #292929; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input input:-moz-placeholder, .input input::-moz-placeholder { color: #c2c2c2; opacity: 1; }
.input input::-webkit-input-placeholder { color: #c2c2c2; }
.input input:focus:-ms-input-placeholder { font-size: 0; }
.input input:focus:-moz-placeholder { font-size: 0; }
.input input:focus::-moz-placeholder { font-size: 0; }
.input input:focus::-webkit-input-placeholder { font-size: 0; }
.input input:focus::placeholder { font-size: 0; }

.nav { font-size: 0; }
.nav li { margin-left: 38px; display: inline-block; }
.nav li a { font-size: 13px; color: white; text-decoration: none; }
.nav li a:hover { text-decoration: underline; }

.advantage { font-size: 0; *zoom: 1; }
.advantage:after { content: " "; display: table; clear: both; }
.advantage .advantage__item { float: left; width: 20%; text-align: center; display: block; }
.advantage .advantage__img { height: 110px; line-height: 110px; }
.advantage .advantage__ico { vertical-align: middle; }
.advantage .advantage__text { font-size: 13px; }

.ico { display: inline-block; }
.ico.ico_1 { background: url('../img/icons-sce1d12077a.png') 0 0 no-repeat; width: 83px; height: 84px; }
.ico.ico_2 { background: url('../img/icons-sce1d12077a.png') 0 -218px no-repeat; width: 63px; height: 81px; }
.ico.ico_3 { background: url('../img/icons-sce1d12077a.png') 0 -309px no-repeat; width: 80px; height: 68px; }
.ico.ico_4 { background: url('../img/icons-sce1d12077a.png') 0 -387px no-repeat; width: 64px; height: 78px; }
.ico.ico_5 { background: url('../img/icons-sce1d12077a.png') 0 -475px no-repeat; width: 84px; height: 70px; }
.ico.ico_arrow { background: url('../img/icons-sce1d12077a.png') 0 -2248px no-repeat; width: 14px; height: 14px; }
.ico.ico_6 { background: url('../img/icons-sce1d12077a.png') 0 -555px no-repeat; width: 125px; height: 123px; }
.ico.ico_7 { background: url('../img/icons-sce1d12077a.png') 0 -688px no-repeat; width: 121px; height: 120px; }
.ico.ico_8 { background: url('../img/icons-sce1d12077a.png') 0 -818px no-repeat; width: 132px; height: 110px; }
.ico.ico_9 { background: url('../img/icons-sce1d12077a.png') 0 -938px no-repeat; width: 128px; height: 119px; }
.ico.ico_10 { background: url('../img/icons-sce1d12077a.png') 0 -94px no-repeat; width: 112px; height: 114px; }
.ico.ico_ins { background: url('../img/icons-sce1d12077a.png') 0 -2356px no-repeat; width: 21px; height: 21px; }
.ico.ico_f { background: url('../img/icons-sce1d12077a.png') 0 -2071px no-repeat; width: 11px; height: 22px; }
.ico.ico_tw { background: url('../img/icons-sce1d12077a.png') 0 -4354px no-repeat; width: 21px; height: 18px; }
.ico.ico_vk { background: url('../img/icons-sce1d12077a.png') 0 -4411px no-repeat; width: 26px; height: 15px; }
.ico.ico_basket { background: url('../img/icons-sce1d12077a.png') 0 -1067px no-repeat; width: 15px; height: 13px; }
.ico.ico_exit { background: url('../img/icons-sce1d12077a.png') 0 -2051px no-repeat; width: 12px; height: 10px; }
.ico.ico_callback { background: url('../img/icons-sce1d12077a.png') 0 -1885px no-repeat; width: 17px; height: 16px; }
.ico.ico_consultant { background: url('../img/icons-sce1d12077a.png') 0 -2025px no-repeat; width: 20px; height: 16px; }
.ico.ico_bgn { background: url('../img/icons-sce1d12077a.png') 0 -1829px no-repeat; width: 15px; height: 14px; }
.ico.ico_collection { background: url('../img/icons-sce1d12077a.png') 0 -2141px no-repeat; width: 9px; height: 17px; }
.ico.ico_doll { background: url('../img/icons-sce1d12077a.png') 0 -2168px no-repeat; width: 8px; height: 16px; }
.ico.ico_log { background: url('../img/icons-sce1d12077a.png') 0 -2194px no-repeat; width: 14px; height: 15px; }
.ico.ico_like { background: url('../img/icons-sce1d12077a.png') 0 -2583px no-repeat; width: 14px; height: 14px; }
.ico.ico_mwssage { vertical-align: middle; background: url('../img/icons-sce1d12077a.png') 0 -2779px no-repeat; width: 17px; height: 15px; }
.ico.ico_info { background: url('../img/icons-sce1d12077a.png') 0 -2330px no-repeat; width: 16px; height: 16px; }
.ico.ico_man { background: url('../img/icons-sce1d12077a.png') 0 -3565px no-repeat; width: 11px; height: 19px; }
.ico.ico_woman { background: url('../img/icons-sce1d12077a.png') 0 -3594px no-repeat; width: 13px; height: 19px; }
.ico.ico_pic { background: url('../img/icons-sce1d12077a.png') 0 -2219px no-repeat; width: 22px; height: 19px; }
.ico.ico_font { background: url('../img/icons-sce1d12077a.png') 0 -2301px no-repeat; width: 20px; height: 19px; }
.ico.ico_btn { background: url('../img/icons-sce1d12077a.png') 0 -2272px no-repeat; width: 18px; height: 19px; }
.ico.ico_porterage1 { background: url('../img/icons-sce1d12077a.png') 0 -3224px no-repeat; width: 18px; height: 15px; }
.ico.ico_porterage2 { background: url('../img/icons-sce1d12077a.png') 0 -3249px no-repeat; width: 10px; height: 18px; }

.logo { display: inline-block; background: url('../img/icons-sce1d12077a.png') 0 -2745px no-repeat; width: 166px; height: 24px; }

.btn { width: 239px; height: 57px; color: white; line-height: 56px; text-align: center; font-size: 16px; font-weight: 700; display: inline-block; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn:hover { -moz-box-shadow: inset 0 0 5px #404040; -webkit-box-shadow: inset 0 0 5px #404040; box-shadow: inset 0 0 5px #404040; }
.btn:first-letter { text-transform: uppercase; }
.btn.btn_red { background: #ee254a; }
.btn.btn_red .ico { margin-left: 5px; }
.btn.btn_border { border: 2px dashed #ee254a; background: none; }
.btn.btn_basket:hover, .btn.btn_border:hover { background: #c7c7c7; }
.btn.btn_basket { border: 2px dashed #636363; background: #464646; }
.btn.btn_dashed { width: auto; height: 16px; line-height: 15px; border-bottom: 1px dashed white; background: none; }
.btn.btn_close { background: url('../img/icons-sce1d12077a.png') 0 -1959px no-repeat; width: 26px; height: 26px; }
.btn.btn_bgn { height: 20px; width: auto; line-height: 20px; color: #ee254a; background: none; }
.btn.btn_bgn:hover { box-shadow: none; text-decoration: underline; }
.btn.btn_bgn .ico { margin-left: 10px; }
.btn.btn_grey { background: #464646; }
.btn.btn_white { color: #2b2b2b; background: white; }

.title { text-transform: uppercase; font-weight: 700; }
.title.title-1 { font-size: 32px; }
.title.title-2 { font-size: 24px; }
.title.title-3 { font-size: 18px; }
.title.title_line { position: relative; line-height: 1; text-align: center; }
.title.title_line:before { position: absolute; content: ""; left: 0; top: 50%; margin-top: -3px; height: 6px; width: 100%; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.title.title_line span { position: relative; padding: 0 20px; overflow: hidden; z-index: 1; background: white; display: inline-block; }
.title.title_line-2 { line-height: 58px; text-align: center; display: inline-block; border-top: 1px solid white; border-bottom: 1px solid white; }
.title.title_quote { padding: 0 50px 0 40px; color: white; line-height: 84px; font-size: 40px; display: inline-block; background: url("../img/bg-grey.png"); }
.title.title_quote span { color: #ee254a; }

.informer { position: fixed; top: 0; left: 0; width: 100%; z-index: 400; }
.informer .container { position: relative; }
.informer .informer__wrap { position: absolute; top: 305px; left: -227px; padding-left: 40px; width: 480px; height: 70px; overflow: hidden; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.informer .informer__wrap:before { position: absolute; content: ""; top: -33px; left: 0; height: 30px; width: 100%; -moz-box-shadow: 1px 0px 30px black; -webkit-box-shadow: 1px 0px 30px black; box-shadow: 1px 0px 30px black; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.informer .ico { margin-right: 10px; }
.informer .callback, .informer .consultant { padding: 0 20px 0 15px; display: inline-block; height: 55px; line-height: 54px; font-size: 16px; font-weight: 700; vertical-align: top; -moz-box-shadow: 0 0 10px #2b2b2b; -webkit-box-shadow: 0 0 10px #2b2b2b; box-shadow: 0 0 10px #2b2b2b; }
.informer .callback { color: #2b2b2b; background: white; }
.informer .consultant { margin-right: 17px; color: white; background: #505050; }
@media (max-width: 1200px) { .informer .informer__wrap { left: -225px; } }

.designer { padding: 72px 42px 120px; width: 322px; line-height: 1.2; text-align: center; font-size: 21px; background: url("../img/bg-grey.png") repeat 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.designer .designer__logo { background: url('../img/icons-sce1d12077a.png') 0 -2607px no-repeat; width: 166px; height: 128px; }
.designer .designer__text { margin: 84px 0 50px; }
.designer .designer__text p { margin-bottom: 15px; }
.designer .designer__row { margin-bottom: 22px; }

.clothing { padding: 42px 0 0; }
.clothing.clothing_white { background: white; }
.clothing .tab-cont_mod.is-active { padding: 0; }
.clothing .clothing__field { position: relative; margin-bottom: 1px; font-size: 0; }
.clothing .clothing__field:before { position: absolute; content: ""; top: 0; left: -1px; height: 100%; width: 1px; overflow: hidden; z-index: 10; background: white; }
.clothing .clothing__field:after { position: absolute; content: ""; bottom: -1px; left: 0; height: 1px; width: 100%; overflow: hidden; z-index: 10; background: white; }

.clothing__item { position: relative; display: inline-block; width: 100%; padding: 60px 0 70px; color: white; background: url("../img/bg-grey.png") repeat; vertical-align: top; }
.clothing__item:before { position: absolute; content: ""; top: 0; bottom: 0; left: -1000px; width: 1000px; z-index: 300; background: url("../img/bg-grey.png") repeat; }
.clothing__item:after { position: absolute; content: ""; top: 0; bottom: 0; right: -1000px; width: 1000px; background: url("../img/bg-grey.png") repeat; }
.clothing__item .container { position: relative; width: 1000px; *zoom: 1; }
.clothing__item .container:after { content: " "; display: table; clear: both; }
.clothing__item .container .btn_close { position: absolute; top: -35px; left: auto; right: 0; margin: 0; }
.clothing__item .clothing__slider { margin-left: 57px; width: 366px; }
.clothing__item .clothing__left { float: left; width: 500px; }
.clothing__item .clothing__info { float: right; margin-right: 17px; width: 476px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clothing__item .clothing__price { font-size: 21px; font-weight: 300; }
.clothing__item .clothing__row { margin-top: 45px; }
.clothing__item .clothing__row.clothing__row_mod { margin: 10px 0; }
.clothing__item .clothing__row .btn_red { position: relative; left: auto; bottom: auto; margin: 0; padding: 0 36px 0 31px; width: auto; }
.clothing__item .clothing__row .btn { vertical-align: top; }
.clothing__item .clothing__row_top { margin: 0; *zoom: 1; }
.clothing__item .clothing__row_top:after { content: " "; display: table; clear: both; }
.clothing__item .clothing__row_top .title, .clothing__item .clothing__row_top .clothing__price { display: inline-block; }
.clothing__item .clothing__row_top .title { float: left; }
.clothing__item .clothing__row_top .clothing__price { float: right; font-size: 32px; }
.clothing__item .clothing__select { width: 186px; float: left; }
.clothing__item .clothing__select .select__text { border-right: none; }
.clothing__item .clothing__title { font-size: 17px; font-weight: 700; }
.clothing__item .clothing__text { color: #d0d0d0; font-size: 13px; }
.clothing__item .clothing__text p { margin-top: 5px; }
.clothing__item .clothing__porterage { margin-top: 25px; }
.clothing__item .clothing__col { margin-right: 10px; display: inline-block; }
.clothing__item .clothing__col.clothing__col_127 { width: 127px; }
.clothing__item .clothing__col.clothing__col_117 { width: 117px; }
.clothing__item .clothing__col.clothing__col_205 { margin: 0; width: 205px; }
.clothing__item .select_color .select__definition { position: absolute; top: 50%; left: 18px; height: 22px; margin-top: -11px; display: inline-block; }
.clothing__item .select_color .select__text { text-align: right; padding: 8px 12px 0 0; }
.clothing__item .select_color .select__text:after { display: none; }
.clothing__item .select_color .select__list { text-align: right; }
.clothing__item .select_color .select__color { width: 32px; height: 32px; display: inline-block; }
.clothing__item .select_color .select__color.select__color_white { background: white; }
.clothing__item .select_color .select__color.select__color_black { background: black; }
.clothing__item .select_color .select__color.select__color_red { background: #ee254a; }
.clothing__item .clothing__article { float: left; width: 100%; color: #c4c4c4; font-size: 12px; }
.clothing__item .clothing__buttons { margin-top: 32px; font-size: 0; }
.clothing__item .clothing__buttons .clothing__btn { margin: 0 0 5px 5px; padding: 0 10px; height: 26px; color: #d0d0d0; line-height: 26px; font-size: 13px; background: #636363; display: inline-block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.clothing__item .clothing__buttons .clothing__btn:hover, .clothing__item .clothing__buttons .clothing__btn.is-active { color: white; background: #ee254a; }
.clothing__item .clothing__buttons .clothing__btn:first-child { margin-top: 0; }

.porterage { font-size: 0; }
.porterage .porterage__col { width: 50%; color: #d0d0d0; font-size: 13px; vertical-align: top; display: inline-block; }
.porterage .porterage__title { margin-bottom: 5px; color: white; font-size: 17px; font-weight: 700; }
.porterage .porterage__title .ico { margin-right: 8px; vertical-align: sub; }
.porterage .porterage__price { font-weight: 700; }
.porterage .porterage__link { color: #d0d0d0; text-decoration: none; border-bottom: 1px dashed #d0d0d0; }
.porterage .porterage__link:hover { border: none; }

.size { position: relative; margin-top: 40px; }
.size .size__btn { height: 17px; line-height: 17px; color: #d0d0d0; border-bottom: 1px dashed #d0d0d0; background: none; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.size .size__btn:hover, .size .size__btn:focus, .size .size__btn:active { border: none; }
.size .size__block { position: absolute; right: 40px; bottom: 100%; padding: 55px; width: 664px; margin-bottom: 30px; z-index: 2; -moz-box-shadow: 0 11px 23px black; -webkit-box-shadow: 0 11px 23px black; box-shadow: 0 11px 23px black; background: white; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.size .size__block:after { content: " "; display: table; clear: both; }
.size .size__block:before { position: absolute; content: ""; left: 278px; bottom: -13px; width: 0px; height: 0px; border-style: solid; border-width: 13px 8px 0 8px; border-color: white transparent transparent transparent; }
.size .size__block.is-active { display: block; }
.size .size__close { position: absolute; top: 12px; right: 14px; background: url('../img/icons-sce1d12077a.png') 0 -4224px no-repeat; width: 18px; height: 18px; }
.size .size__img { float: left; position: relative; width: 200px; text-align: center; }
.size .size__img:before { position: absolute; content: ""; bottom: 0; left: -19px; background: url('../img/icons-sce1d12077a.png') 0 -2387px no-repeat; width: 19px; height: 186px; }
.size .size__img:after { position: absolute; content: ""; bottom: -22px; left: 0; background: url('../img/icons-sce1d12077a.png') 0 -1853px no-repeat; width: 186px; height: 22px; }
.size .size__img img { vertical-align: top; display: inline-block; }
.size .size__table { float: right; width: 330px; }
.size .size__table tr td, .size .size__table tr th { color: #2b2b2b; font-size: 15px; }
.size .size__table tr td:first-child, .size .size__table tr th:first-child { width: 130px; padding-left: 4px; }
.size .size__table tr td:nth-child(2), .size .size__table tr th:nth-child(2) { width: 105px; }
.size .size__table tr th { padding-bottom: 19px; font-size: 17px; font-weight: 700; text-align: left; }
.size .size__table tr td { height: 28px; line-height: 28px; border-top: 1px solid #eeeeee; }

.shirt { margin: 0 0 -1px -1px; padding: 47px 0 40px; font-size: 18px; font-weight: 300; color: #404040; text-align: center; cursor: pointer; width: 20%; display: inline-block; border-left: 1px dotted #aeaeae; border-bottom: 1px dotted #aeaeae; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.shirt.is-active { position: relative; background: url("../img/bg-grey-light.png") repeat; border-right: 1px dotted #aeaeae; color: white; }
.shirt.is-active:before { position: absolute; content: ""; left: 50%; top: -21px; margin-left: -40px; background: url('../img/icons-sce1d12077a.png') 0 -4272px no-repeat; width: 81px; height: 40px; }
.shirt:hover { background: url("../img/bg-grey-light.png") repeat; color: white; }
.shirt .shirt__img img { display: inline-block; }
.shirt .shirt__price { margin-top: 20px; display: inline-block; }
@media (max-width: 1200px) { .shirt { width: 25%; } }

.clothing__tab { position: relative; padding: 12px 0 0; }
.clothing__tab .tab { font-size: 0; text-align: center; overflow: hidden; }
.clothing__tab .tab_mod { padding-bottom: 25px; }
.clothing__tab .tab__item { display: inline-block; }
.clothing__tab .tab__item.is-active .tab__link { color: white; background: #ee254a; }
.clothing__tab .tab__link { padding: 10px 20px; color: #2b2b2b; font-size: 16px; font-weight: 300; text-decoration: none; display: block; background: none; }
.clothing__tab .btn { position: absolute; left: 50%; bottom: -28px; margin-left: -120px; }

.tab-cont { position: relative; padding: 0; height: 0; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.tab-cont:after { content: " "; display: table; clear: both; }
.tab-cont.is-active { padding: 70px 0 110px; height: auto; visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.tab-info { margin-bottom: 18px; }
.tab-info .tab__item { display: inline-block; }
.tab-info .tab__item a { margin-right: 35px; color: white; border-bottom: 1px dotted white; text-decoration: none; font-size: 17px; display: inline-block; }
.tab-info .tab-cont { padding: 15px 0 0 0; visibility: visible; height: auto; font-size: 13px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.slider { position: relative; margin: 0 auto; }
.slider .slick-slide { height: 222px; font-size: 0; }
.slider .slick-slide a { margin-left: -18px; vertical-align: top; display: inline-block; }
.slider .slick-prev, .slider .slick-next { position: absolute; top: 50%; margin-top: -56px; }
.slider .slick-prev:hover, .slider .slick-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.slider .slick-prev { left: -100px; background: url('../img/icons-sce1d12077a.png') 0 -3277px no-repeat; width: 57px; height: 112px; }
.slider .slick-next { right: -100px; background: url('../img/icons-sce1d12077a.png') 0 -2804px no-repeat; width: 57px; height: 112px; }
.slider .slick-dots { display: none !important; }
@media (max-width: 1285px) { .slider { width: 1000px; } }
@media (max-width: 1205px) { .slider { width: 790px; } }

.single-item { position: relative; }
.single-item .slick-prev, .single-item .slick-next { position: absolute; top: 50%; margin-top: -56px; }
.single-item .slick-prev { left: -57px; background: url('../img/icons-sce1d12077a.png') 0 -3399px no-repeat; width: 57px; height: 112px; }
.single-item .slick-next { right: -57px; background: url('../img/icons-sce1d12077a.png') 0 -2926px no-repeat; width: 57px; height: 112px; }
.single-item .slick-slide { text-align: center; }
.single-item .slick-slide img { display: inline-block; }

.order { padding: 100px 0 110px; color: white; border-top: 2px solid #ee254a; border-bottom: 2px solid #ee254a; background: url("../img/bg-cent.png") no-repeat 0 0; background-size: cover; }
.order .order__text-top { font-weight: 300; font-size: 20px; }
.order .order__field { margin-top: 30px; *zoom: 1; }
.order .order__field:after { content: " "; display: table; clear: both; }
.order .order__item { float: left; margin-left: 3%; width: 17%; }
.order .order__item:first-child { margin-left: 0; }
.order .order__img { height: 180px; text-align: center; line-height: 180px; }
.order .order__ico { vertical-align: middle; }
.order .title { display: block; }
.order .title, .order .order__text-top { text-align: center; }
.order .order__text { margin-top: 25px; }

.quote { background: url("../img/bg-quote.png") no-repeat 0 0; background-size: cover; }
.quote .quote__wrap { padding: 180px 0 53px; color: white; text-align: center; background: url("../img/t-shirt.png") no-repeat 50% 100%; }
.quote .quote__text { position: relative; margin-bottom: 275px; padding: 35px 0 0 80px; width: 630px; font-size: 19px; text-align: left; display: inline-block; }
.quote .quote__text:before { position: absolute; content: ""; top: 0; left: 0; background: url('../img/icons-sce1d12077a.png') 0 -3521px no-repeat; width: 42px; height: 34px; }
.quote .quote__text-left { padding: 50px 110px 0 0; font-size: 16px; font-style: italic; font-weight: 300; text-align: right; }

.styling { padding: 55px 0 75px; text-align: center; border-top: 2px solid #ee254a; background: url("../img/bg-styling.png") no-repeat 0 0; background-size: cover; }
.styling .styling__text { font-weight: 300; font-size: 20px; }
.styling .styling__row { margin-top: 40px; }
.styling .styling__item { margin-right: 30px; display: inline-block; }
.styling .btn { margin-bottom: 10px; }
.styling .btn_border { color: #2b2b2b; }
.styling.styling_mod { padding-top: 20px; }

.basket { position: absolute; top: 58px; left: 0; padding: 10px 0 30px; width: 100%; max-height: 800px; color: white; z-index: 300; overflow: auto; background: url("../img/bg-grey.png") repeat; display: none; }
.basket::-webkit-scrollbar { width: 10px; overflow: hidden; background: #313131; border-radius: 2px; }
.basket::-webkit-scrollbar-thumb { border-radius: 2px; background: #c7c7c7; }
.basket::-webkit-scrollbar-track-piece { width: 10px; border-radius: 2px; }
.basket .container { *zoom: 1; }
.basket .container:after { content: " "; display: table; clear: both; }
.basket .basket__product { float: left; }
.basket .basket__form { float: right; width: 39%; }
.basket .basket__top { width: 85%; font-size: 24px; font-weight: 700; text-transform: uppercase; *zoom: 1; }
.basket .basket__top:after { content: " "; display: table; clear: both; }
.basket .basket__top .basket__price { float: right; }
.basket .basket__input { margin-top: 22px; }
.basket .basket__row { margin-top: 22px; }
.basket .basket__row .btn_red { width: 100%; }
.basket .basket__checkbox { margin-top: 7px; }
.basket .btn { margin-left: 0; }

.tab-cont_cabinet.is-active { padding: 0; }
.tab-cont_cabinet .basket { position: relative; top: auto; left: auto; display: block; }

.checkbox { position: relative; margin-left: 20px; display: inline-block; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input { position: absolute; left: 0; top: 0; width: 18px; height: 18px; opacity: 0; z-index: 2; }
.checkbox input:checked + span:after { display: block; }
.checkbox span { display: inline-block; position: relative; padding-left: 30px; line-height: 1.4; color: #c2c2c2; font-size: 14px; }
.checkbox span:before { content: ""; position: absolute; left: 0; top: 0; width: 18px; height: 18px; border: 1px solid #494949; background: #292929; }
.checkbox span:after { display: none; content: ""; position: absolute; top: 5px; left: 5px; height: 10px; width: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #dfdfdf; }

.form { position: relative; padding: 10px 0 18px; font-size: 15px; font-weight: 300; overflow: hidden; }
.form:before { position: absolute; content: ""; top: 5px; left: -10px; height: 100%; width: 10px; -moz-box-shadow: 1px 0px 22px 0 black; -webkit-box-shadow: 1px 0px 22px 0 black; box-shadow: 1px 0px 22px 0 black; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.form:after { position: absolute; content: ""; top: 5px; right: -10px; height: 100%; width: 10px; -moz-box-shadow: 1px 0px 22px 0 black; -webkit-box-shadow: 1px 0px 22px 0 black; box-shadow: 1px 0px 22px 0 black; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.form.form_question { margin-top: 30px; padding: 10px 0 80px; }
.form.form_question:after { display: none; }
.form .form__wrap { padding: 30px 22px 22px 25px; background: #313131; }
.form .btn_close { position: absolute; top: 22px; right: 22px; }
.form .input__row { height: 57px; font-size: 0; margin-bottom: 10px; }
.form input { font-weight: 700; font-size: 16px; }
.form .input__col { margin-left: 2%; height: 100%; display: inline-block; }
.form .input__col:first-child { margin-left: 0; }
.form .input__col_1 { width: 32%; }
.form .input__col_2 { width: 49%; }
.form .input__col_3 { width: 66%; }

.product { margin-left: 80px; padding: 20px 0 0; width: 49%; }
.product.product_mod { margin-left: 50px; width: 54.2%; }
.product a { color: white; text-decoration: none; }
.product a:hover { text-decoration: underline; }
.product .product__item { padding: 30px 0 35px; border-top: 1px dotted #404040; *zoom: 1; }
.product .product__item:after { content: " "; display: table; clear: both; }
.product .product__item:first-child { border: none; }
.product .product__img, .product .product__block { float: left; }
.product .product__img { width: 176px; text-align: center; }
.product .product__img img { vertical-align: top; display: inline-block; }
.product .product__block { font-size: 15px; font-weight: 300; }
.product .product__right { float: right; width: 106px; }
.product .product__right .btn { font-size: 15px; }
.product .product__row { margin-top: 18px; font-size: 0; }
.product .product__select { margin-left: 20px; width: 125px; display: inline-block; }
.product .product__select:first-child { margin-left: 0; }
.product .product__top { font-size: 24px; text-transform: uppercase; font-weight: 700; }
.product .product__top .product__price strong { font-size: 24px; }
.product .product__top .btn { height: 40px; width: 160px; font-size: 13px; font-weight: 700; line-height: 40px; }
.product .product__top .btn .ico { margin-right: 5px; margin-top: -2px; vertical-align: middle; }
.product .product__price strong { font-size: 18px; }
.product .product__order { margin-right: 64px; }

.price { font-size: 17px; font-weight: 400; text-transform: none; }
.price strong { font-size: 24px; }

.select { position: relative; cursor: pointer; font-size: 16px; font-weight: 700; }
.select .select__text { position: relative; display: block; padding: 0 25px 0 20px; height: 57px; line-height: 57px; border: 1px solid black; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border: 2px dashed #636363; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select .select__text:after { content: ""; position: absolute; right: 17px; top: 50%; margin-top: -5px; background: url('../img/icons-sce1d12077a.png') 0 -3623px no-repeat; width: 17px; height: 10px; }
.select .select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 2px dashed #636363; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #313131; }
.select .select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; }
.select .select__list li:hover { background: #717791; color: white; }
.select.select_collection { position: absolute; right: 27px; top: 56px; min-width: 169px; font-weight: 400; display: inline-block; }
.select.select_collection:after { position: absolute; content: ""; top: 50%; right: -15px; margin-top: -2px; background: url('../img/icons-sce1d12077a.png') 0 -3208px no-repeat; width: 9px; height: 6px; }
.select.select_collection .ico { position: absolute; left: 0; top: 50%; margin-top: -8px; margin-right: 7px; }
.select.select_collection .select__text { padding: 0 0 0 20px; height: 24px; line-height: 24px; border: none; border-bottom: 1px dotted #b9b9b9; }
.select.select_collection .select__text:after { display: none; }
.select.select_collection .select__list { background: white; border: 1px dotted #b9b9b9; border-top: none; }

.content { padding: 0 18px 85px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.content h1, .content h2, .content h3 { text-align: center; }
.content h2 { margin: 25px 0 22px; }
.content h3 { padding: 20px 0 18px; font-size: 20px; font-weight: 300; }
.content p { padding-bottom: 10px; }
.content a { color: #ee254a; text-decoration: none; }
.content a:hover { text-decoration: underline; }
.content table { margin: 35px 0 30px; }
.content table td, .content table th { padding-left: 26px; height: 61px; text-align: left; line-height: 61px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.content table td:first-child, .content table th:first-child { width: 195px; }
.content table td:nth-child(2), .content table th:nth-child(2) { width: 387px; }
.content table th { color: white; font-size: 17px; font-weight: 300; background: url("../img/bg-grey.png") repeat; }
.content table td { border: 1px solid #e3e3e3; }
.content ul li { position: relative; padding-left: 12px; margin-bottom: 10px; }
.content ul li:before { position: absolute; content: ""; top: 5px; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 4px 0 4px 5px; border-color: transparent transparent transparent #2b2b2b; }
.content .content__row { text-align: center; }
.content .title_line-2 { border-color: #2b2b2b; border-width: 2px; }

.accordian { width: 100%; }
.accordian .section-title { background: none; display: block; margin: 0; }
.accordian .section-title { cursor: pointer; outline: none; }
.accordian .product__top { padding: 27px 22px; border-bottom: 1px dotted #4e4e4e; *zoom: 1; }
.accordian .product__top:after { content: " "; display: table; clear: both; }
.accordian .product__top .btn { float: right; }
.accordian .product__top:focus { outline: none; }
.accordian .collapsing-section { padding: 0 20px; border-bottom: 1px dotted #4e4e4e; }
.accordian .open .product__top { border-top: 1px dotted #4e4e4e; border-bottom: 1px dotted #4e4e4e; }
.accordian .product__item { border-top: 1px dotted #4e4e4e; }
.accordian .product__item:first-child { border-top: none; }
.accordian .open, .accordian .open + .collapsing-section { background: url("../img/bg-grey-light.png") repeat; }

.js .collapsing-section { display: none; }

.question { padding: 0 !important; background: white !important; }
.question .question__top { padding: 22px 22px 18px; color: #2b2b2b; background: #f2f2f2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.question .question__wrap { padding: 0 38px 0 24px; }

.comments { color: #313131; }
.comments .comments__item { position: relative; padding: 20px 0; border-top: 1px dotted #acacac; }
.comments .comments__item:first-child { border-top: none; }
.comments .comments__time { position: absolute; top: 20px; right: 0; font-weight: bold; }
.comments .comments__user { font-weight: bold; }
.comments .comments__user:first-letter { text-transform: uppercase; }
.comments .comments__text { padding-top: 12px; }

.message { background: #f2f2f2; }
.message .message__row { font-size: 0; *zoom: 1; }
.message .message__row:after { content: " "; display: table; clear: both; }
.message .message__row input { float: left; padding-left: 23px; width: 85%; height: 59px; color: #727272; font-size: 17px; border-top: 2px solid #a3a3a3; background: #f2f2f2; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.message .message__row input:-moz-placeholder, .message .message__row input::-moz-placeholder { color: #727272; opacity: 1; }
.message .message__row input::-webkit-input-placeholder { color: #727272; }
.message .message__row input:focus:-ms-input-placeholder { font-size: 0; }
.message .message__row input:focus:-moz-placeholder { font-size: 0; }
.message .message__row input:focus::-moz-placeholder { font-size: 0; }
.message .message__row input:focus::-webkit-input-placeholder { font-size: 0; }
.message .message__row input:focus::placeholder { font-size: 0; }
.message .message__row .btn { float: right; width: 15%; height: 59px; line-height: 59px; }

.step { padding-bottom: 75px; }
.step .step__top { padding: 45px 0 25px; background: white; }
.step .step__list { margin-top: 12px; font-size: 0; text-align: center; }
.step .step__list li { padding: 12px 12px 10px 20px; color: #2b2b2b; font-size: 16px; line-height: 1; font-weight: 300; cursor: default; display: inline-block; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.step .step__list li.is-active { color: white; background: #ee254a; }
.step .step__field { *zoom: 1; }
.step .step__field:after { content: " "; display: table; clear: both; }
.step .step__info { padding: 28px 0; color: white; }
.step .step__title, .step .editor__title { font-weight: 700; font-size: 24px; text-transform: uppercase; }
.step .step__text .ico, .step .editor__text .ico { margin-left: 5px; vertical-align: text-top; }
.step .stip__bottom { padding-top: 40px; text-align: center; }
.step .stip__bottom .btn { padding: 0 15px 0 17px; height: 49px; width: auto; line-height: 49px; font-size: 24px; font-weight: 700; }
.step .stip__bottom .btn .ico { margin-left: 15px; vertical-align: middle; }

.panel { position: relative; padding: 28px 22px 20px 27px; width: 68%; height: 550px; overflow: hidden; border: 1px dashed #959595; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.panel:after { content: " "; display: table; clear: both; }
.panel .panel__block { position: absolute; top: 25px; left: 25px; right: 25px; bottom: 25px; overflow: hidden; }
.panel .panel__bg { display: block; }
.panel .panel__shirt { position: absolute; top: 0; left: 50%; margin-left: -500px; z-index: 3; }
.panel .panel__shirtshadow { position: absolute; top: -25px; left: 97px; z-index: 2; background: url('../img/icons-sce1d12077a.png') 0 -3643px no-repeat; width: 565px; height: 571px; }
.panel .panel__blur { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(44, 44, 44, 0.7); }
.panel .panel__btn { position: absolute; z-index: 10; }
.panel .panel__btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.panel .panel__btn_top-left { top: 50px; left: 45px; background: url('../img/icons-sce1d12077a.png') 0 -3157px no-repeat; width: 15px; height: 16px; }
.panel .panel__btn_top-right { top: 50px; right: 42px; background: url('../img/icons-sce1d12077a.png') 0 -3183px no-repeat; width: 14px; height: 15px; }
.panel .panel__btn_rotate-left { top: 50%; left: 45px; margin-top: -9px; background: url('../img/icons-sce1d12077a.png') 0 -3099px no-repeat; width: 19px; height: 19px; }
.panel .panel__btn_rotate-right { top: 50%; right: 42px; margin-top: -9px; background: url('../img/icons-sce1d12077a.png') 0 -3128px no-repeat; width: 19px; height: 19px; }
.panel .panel__btn_bottom-left { left: 45px; bottom: 37px; background: url('../img/icons-sce1d12077a.png') 0 -3048px no-repeat; width: 15px; height: 16px; }
.panel .panel__btn_bottom-right { bottom: 37px; right: 42px; background: url('../img/icons-sce1d12077a.png') 0 -3074px no-repeat; width: 14px; height: 15px; }
.panel .panel__text { position: absolute; top: 126px; left: 290px; padding: 10px 12px 45px; max-width: 200px; max-height: 365px; font-size: 32px; color: white; z-index: 4; overflow: hidden; font-family: "Times New Roman", Arial, sans-serif; border: 1px dashed #959595; background: rgba(0, 0, 0, 0.5); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.regulator { padding-top: 25px; width: 68%; *zoom: 1; }
.regulator:after { content: " "; display: table; clear: both; }
.regulator .regulator__col { float: left; padding: 0 18px; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.regulator .regulator__text { font-size: 13px; color: white; text-align: center; width: 100%; }
.regulator .regulator__range { position: relative; padding-top: 44px; }
.regulator .regulator__scale { position: absolute; top: 11px; height: 31px; }
.regulator .regulator__scale.regulator__scale_rotate { left: -5px; right: -10px; }
.regulator .regulator__scale.regulator__scale_resize { left: -6px; right: -5px; }
.regulator .regulator__scale img { width: 100%; }
.regulator .regulator__bg__rotate, .regulator .regulator__bg__resize { width: 100%; }
.regulator input[type="range"] { position: relative; appearance: none; -moz-appearance: none; -webkit-appearance: none; background-color: transparent; }
.regulator input[type="range"]:before { position: absolute; content: ""; top: 5px; left: 0; width: 100%; height: 1px; z-index: 3; background: #959595; }
.regulator input[type="range"]:after { position: absolute; content: ""; top: 3px; left: 0; height: 5px; width: 100%; z-index: 2; background: url(../img/bg-grey.png) repeat 0 0; }
.regulator input[type="range"]::-webkit-slider-thumb { position: relative; -webkit-appearance: none; background: #ee254a; width: 15px; height: 31px; }
.regulator input[type="range"]::-webkit-slider-thumb:before { position: absolute; content: ""; bottom: 7px; left: 50%; margin-left: -4px; background: url('../img/icons-sce1d12077a.png') 0 -4252px no-repeat; width: 7px; height: 10px; }
.regulator input[type="range"]::-moz-range-thumb { position: relative; -moz-appearance: none; background: #ee254a; width: 15px; height: 31px; }
.regulator input[type="range"]::-moz-range-thumb:before { position: absolute; content: ""; bottom: 7px; left: 50%; margin-left: -4px; background: url('../img/icons-sce1d12077a.png') 0 -4252px no-repeat; width: 7px; height: 10px; }

.editor { float: right; width: 312px; color: white; }
.editor.editor_mod .editor__row { padding: 40px 0; padding-left: 21px; }
.editor.editor_mod .editor__row:first-child { padding-top: 15px; }
.editor .editor__row { padding: 15px 0; font-size: 0; border-top: 1px dashed #454545; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.editor .editor__row:first-child { padding-top: 4px; border: none; }
.editor .editor__row_bot { padding: 0; border: none; }
.editor .editor__row_bot .btn { width: 100%; }
.editor .editor__row_size .editor__item { margin-bottom: 7px; }
.editor .editor__row_size .editor__item:first-child { margin-bottom: 15px; }
.editor .editor__title { padding-bottom: 15px; }
.editor .editor__col { height: 32px; line-height: 32px; vertical-align: top; display: inline-block; }
.editor .editor__col_30 { width: 30%; }
.editor .editor__col_132 { width: 132px; }
.editor .editor__col_125 { width: 125px; }
.editor .editor__col_70 { width: 70%; }
.editor .editor__col_price { font-size: 17px; color: white; }
.editor .editor__col_price strong { font-size: 24px; }
.editor .editor__col_size { font-size: 16px; color: white; }
.editor .editor__text { font-size: 13px; padding-bottom: 8px; }
.editor .editor__text.editor__text_bott { font-size: 15px; }
.editor .editor__item { font-size: 0; }
.editor .editor__item.editor__item_radio { padding-top: 20px; }
.editor .editor__item.editor__item_formal .btn { vertical-align: top; }
.editor .step__item_mod { margin: 65px 0 19px; }
.editor .step__item_mod .editor__col { height: 57px; line-height: 57px; }
.editor .step__item_mod .editor__col_125 { margin: 0 20px; }
.editor .editor__select, .editor .dye__select { font-size: 14px; font-weight: 300; }
.editor .editor__select .select__text, .editor .dye__select .select__text { padding: 0 38px 0 8px; height: 32px; line-height: 28px; color: white; border: 2px solid #ee254a; background: #292929; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.editor .editor__select .select__text:before, .editor .dye__select .select__text:before { position: absolute; content: ""; top: 0; right: 0; height: 32px; width: 29px; background: #ee254a; }
.editor .editor__select .select__text:after, .editor .dye__select .select__text:after { right: 9px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 7px 6px 0 6px; border-color: white transparent transparent transparent; }
.editor .editor__select .select__list, .editor .dye__select .select__list { border: 2px solid #ee254a; border-top: none; background: #292929; }
.editor .editor__radio { margin: 0; cursor: pointer; }
.editor .editor__radio:first-child { margin: 0 55px 0 22px; }
.editor .editor__radio span { color: white; }
.editor .editor__radio span:before { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.editor .editor__radio span:after { background: #ee254a; }
.editor .editor__radio span .ico { margin-right: 5px; vertical-align: text-top; }
.editor .editor__radio input { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.editor .editor__radio input:checked + span:before { border-color: white; }
.editor .editor__input .input__row { position: relative; height: 38px; }
.editor .editor__input .input__btn { position: absolute; top: 0; left: 0; height: 38px; width: 38px; background: #ee254a; }
.editor .editor__input .input__btn .ico { vertical-align: middle; }
.editor .editor__input input { padding-left: 55px; line-height: 1.4; color: #2b2b2b; background: white; border: none; }
.editor .editor__input input:-moz-placeholder, .editor .editor__input input::-moz-placeholder { color: #2b2b2b; opacity: 1; }
.editor .editor__input input::-webkit-input-placeholder { color: #2b2b2b; }
.editor .editor__checkbox { margin-top: 4px; margin-left: 0; }
.editor .editor__checkbox span { color: white; }
.editor .editor__checkbox span:before { border-width: 2px; }
.editor .editor__checkbox span:after { background: url('../img/icons-sce1d12077a.png') 0 -1911px no-repeat; width: 13px; height: 10px; }
.editor .editor__size { float: left; width: 80px; }
.editor .editor__img { position: relative; float: right; margin-right: 25px; display: inline-block; }
.editor .editor__img img { position: relative; z-index: 1; }
.editor .editor__img .editor__shirtshadow { position: absolute; top: -54px; right: -60px; background: url('../img/icons-sce1d12077a.png') 0 -3643px no-repeat; width: 565px; height: 571px; }
.editor .editor__soc { margin-top: 15px; }
.editor .editor__soc li { margin-right: 20px; display: inline-block; }
.editor .editor__soc .ico_f { background: url('../img/icons-sce1d12077a.png') 0 -2103px no-repeat; width: 13px; height: 28px; }
.editor .editor__soc .ico_vk { background: url('../img/icons-sce1d12077a.png') 0 -4382px no-repeat; width: 33px; height: 19px; }
.editor .editor__soc .ico_tw { background: url('../img/icons-sce1d12077a.png') 0 -4322px no-repeat; width: 27px; height: 22px; }
.editor .btn_276 { padding: 0 60px; height: 57px; width: auto; line-height: 57px; }
.editor .btn_276 span { width: 160px; line-height: 1.4; font-size: 16px; vertical-align: middle; display: inline-block; }

.formalization { padding-left: 22px; margin-top: 10px; width: 105px; line-height: 1.4; font-size: 13px; color: white; display: inline-block; }
.formalization a { color: #ee254a; text-decoration: none; }
.formalization a:hover { text-decoration: underline; }

.dye { float: right; text-align: right; width: 112px; }
.dye .dye__text { padding-right: 10px; height: 32px; line-height: 32px; vertical-align: top; display: inline-block; }
.dye .dye__select { display: inline-block; width: 60px; }
.dye .select { text-align: left; }
.dye .select .select__list li { padding: 5px 15px; }
.dye .select .select__list { background: #303030; }
.dye .select .select__text { padding: 0 !important; }
.dye .select .select__color { width: 28px; height: 28px; display: inline-block; }
.dye .select .select__color.select__color_white { background: white; }
.dye .select .select__color.select__color_black { background: #2b2b2b; }
.dye .select .select__color.select__color_red { background: #ee254a; }

.color .color__field { margin-bottom: 8px; font-size: 0; }
.color .color__block { margin-left: 8px; height: 32px; width: 32px; cursor: pointer; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.color .color__block:first-child { margin-left: 0; }
.color .color__block.is-active { border: 2px solid #ee254a; }
.color .color__block.color__block_black { background: #101010; }
.color .color__block.color__block_dark-gray { background: #414141; }
.color .color__block.color__block_grey { background: #7e7e7e; }
.color .color__block.color__block_light-gray { background: #dddddd; }
.color .color__block.color__block_red { background: red; }
.color .color__block.color__block_orange { background: #ff7800; }
.color .color__block.color__block_yellow { background: #ffc000; }
.color .color__block.color__block_yellow-green { background: #ccff00; }
.color .color__block.color__block_green { background: #00ff48; }
.color .color__block.color__block_light-green { background: #00ffc6; }
.color .color__block.color__block_light-blue { background: #00baff; }
.color .color__block.color__block_blue { background: #0054ff; }
.color .color__block.color__block_purple { background: #7e00ff; }
.color .color__block.color__block_lilac { background: #ff00fc; }
.color .color__block.color__block_pink { background: #ff005a; }
.color .color__block.color__block_brown-pink { background: #823e56; }

.article { font-size: 15px; color: #2b2b2b; text-align: center; }

.booking { padding-top: 75px; *zoom: 1; }
.booking:after { content: " "; display: table; clear: both; }
.booking .booking__left { float: left; width: 30%; }
.booking .booking__left .title { margin-bottom: 25px; }
.booking .booking__right { float: right; padding: 0 45px 0 60px; width: 70%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.booking .booking__comments { margin-top: 10px; }
.booking .booking__title { padding-bottom: 5px; font-weight: 700; }
.booking .booking__table { margin-top: 25px; }
.booking .booking__table th, .booking .booking__table td { border: 1px solid #e2e2e2; width: 19%; }
.booking .booking__table th:first-child, .booking .booking__table td:first-child { width: 40%; }
.booking .booking__table th:nth-child(2), .booking .booking__table td:nth-child(2) { width: 22%; }
.booking .booking__table th { color: #2b2b2b; font-weight: 700; font-size: 17px; background: whitesmoke; }
.booking .booking__table td { height: 60px; line-height: 60px; }

.amount { padding: 0 30px; font-size: 17px; font-weight: 700; *zoom: 1; }
.amount:after { content: " "; display: table; clear: both; }
.amount .amount__left { float: left; }
.amount .amount__right { float: right; }

.customer a { color: #ee254a; text-decoration: none; }
.customer a:hover { text-decoration: underline; }
.customer p { padding: 0; }
.customer .customer__row { margin-bottom: 8px; *zoom: 1; }
.customer .customer__row:after { content: " "; display: table; clear: both; }
.customer .customer__info { float: left; width: 33%; font-weight: 700; }
.customer .customer__data { float: right; width: 67%; }

.footer, .push { height: 115px; }

.footer { min-width: 1000px; color: #c7c7c7; }
.footer .footer__top { padding: 16px 0; background: #313131; *zoom: 1; }
.footer .footer__top:after { content: " "; display: table; clear: both; }
.footer .footer__logo { float: left; }
.footer .footer__nav { float: left; }
.footer .footer__nav li { height: 23px; line-height: 22px; }
.footer .footer__nav a { color: #c7c7c7; vertical-align: middle; }
.footer .soc { float: right; }
.footer .soc__item { margin-left: 40px; height: 25px; line-height: 25px; display: inline-block; }
.footer .soc__item .ico { vertical-align: middle; }
.footer .footer__bottom { border-top: 2px solid #404040; background: #292929; }
.footer .copyright { height: 56px; line-height: 56px; text-align: center; font-size: 12px; text-transform: uppercase; }

.scroll-pane { margin: 22px 0 16px; max-height: 386px; overflow: auto; }
.scroll-pane .jspVerticalBar { right: 16px; background: none; }
.scroll-pane .jspTrack { width: 2px; background: #a3a3a3; }
.scroll-pane .jspDrag { width: 4px; margin-left: -1px; background: #737373; }

.l { padding-top: 66px; width: 100%; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 50%; overflow: hidden; }
.l .l-col2 { float: right; padding-left: 40px; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; font: 0/0 a; text-shadow: none; color: transparent; top: 50%; margin-top: -27px; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }

.slick-prev { left: -92px; }

.slick-next { right: -92px; }

.slick-dots { text-align: center; }
.slick-dots li { position: relative; display: inline-block; padding: 0 4px; }
.slick-dots li.slick-active button { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.slick-dots button { display: block; width: 14px; height: 14px; background: #e7e7e7; -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { opacity: 1; }
